$color-bg: #4d4d4d;
$font-size: 50px, 40px, 30px, 20px, 15px, 10px;


%flex-center{
            display: flex;
            justify-content: center;
            align-items: center;
}

@mixin flex($flex, $direction, $justy, $align, $wrap) {
        display: $flex;
        flex-direction: $direction;
        justify-content: $justy;
        align-items: $align;
        flex-wrap: $wrap;
}

